:root {
  --Linear-Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background: url(./images/bg-top.svg) var(--Very-Light-Grayish-Blue);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

/* Container */
.container {
  padding: 4rem 1rem;
  text-align: center;
}

/* Price Header */
.pricing-header {
  margin-bottom: 2rem;
}

.pricing_title {
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 2rem;
}

/* Price Toggle */
.pricing_toggle {
  display: flex;
  justify-content: center;
}

.toggle-label {
  color: var(--Grayish-Blue);
}

.toggle-wrapper {}

.toggle-switch {}



/* Price Body */
.pricing-body {}

.pricing_card {
  color: var(--Dark-Grayish-Blue);
  padding: 2rem;
}

.card-title {
  margin-bottom: 2rem;
}

.card-title,
.price-feature {
  font-size: 1.1rem;
}

.card-price {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.price-feature {
  border-bottom: 1px solid var(--Grayish-Blue);
  padding: 1rem 0;
}

/* Set border top */
.price-feature:nth-child(3) {
  border-top: 1px solid var(--Grayish-Blue);
}

.price-feature:nth-child(5) {
  margin-bottom: 2rem;
}

.price-btn {}