
root {




 --Linear-Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);



--Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
--Light-Grayish-Blue: hsl(234, 14%, 74%);
--Grayish-Blue: hsl(233, 13%, 49%);
--Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.pricing_title{
  margin-top: 20px;
  text-align: center;
  font-size: 32px;
  color: hsl(232, 13%, 49%);

}

body{
  Font-size: 15px;
  font-family:url(https://fonts.google.com/specimen/Montserrat);
 font-Weight: 700;
 background-color: hsl(240, 78%, 98%);
 display: flex;
 flex-direction: column;
 background-image:url(https:digitshack.com/codepen/mentor9/bg-top.svg),
 url(https://digitshack.com/codepen/mentor9/bg-bottom.svg);
 background-position: right top;
 background-repeat: no-repeat;
 height: 100vh;


}


.pricing_toogle{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 30px;
   color: hsl(234, 14%, 74%);

}


.toogle-label{
font-size: 0.9rem;
color: hsl(234, 14%, 74%);
}


.toggle-switch{
  width: 60px;
  height: 35px;
  cursor: pointer;
  position: relative;
}

.slider-round{
  position: absolute;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));


}
.card-title{
  font-size: 20px;
  margin-bottom: 30px;
  color: hsl(233, 13%, 49%);
}


.card-price{
  font-size: 65px;
  color: hsl(232, 13%, 33%);
}


.toogle-label{
  text-align: center;
}


.pricing-body{
  text-align: center;
  border-top-right-radius:10px;
  margin: 2rem auto;
  width: 25%;
  justify-content: center;
}


.pricing_card{
  background-color:white;
  padding: 30px;
  margin: 20px 0;
  width: 100%;
  height: auto;
    border-radius: 10px;
}


.pricing_card1{
  background:linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  padding: 50px 50px;
  margin: 20px 0
  width: 100%;
  height: auto;
  border-radius: 10px;


}
h1, h2, h3{
  font-size:50px ;
  color: hsl(232, 13%, 33%);
}


.price-feature{
  padding: 1em 0;
  width: 80%;
  border-bottom: 1px solid rgba(179, 180, 198, 1);
  border-top: 1px solid rgba(179, 180, 198, 1);


}


.price-btn{
width: 85%;
border-radius: 5px;
background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
font-size:0.80rem;
color: white;
font-weight: 70;
margin: 1.5rem auto 0.5rem auto;
text-transform: uppercase;
cursor: pointer;
outline: none;
height: 40px;
border: none;
}


.price-btn1{
 width: 85%;
border-radius: 5px;
background: white;
font-size:0.80rem;
font-weight: 70;
margin: 1.5rem auto 0.5rem auto;
text-transform: uppercase;
cursor: pointer;
outline: none;
height: 40px;
color: var(linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%)));
border: none;
}

.price-btn:houver{
  border-color: hsl(234, 14%, 74%);
  background: #fff;
  color: hsl(237, 63%, 64%);

}
.pricing-card1 .card-title,
.pricing-card1 .card-price{
  color: white;
}

/* Estilização desktop*/

@media (min-width: 1440px )
{

.pricing-body{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  align-items: center;
  justify-content: center;

}
